---
---
@charset "utf-8";
// Core variables and mixins
@import "base/variables.scss";
@import "base/mixins.scss";

// Custom Fonts
{% if site.data.style.fonts %}
  {% for font in site.data.style.fonts %}
    @mixin {{font.for}}-font {
      font-family: "{{ font.name }}", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
  {% endfor %}
{% endif %}

// Custom colors
$primary: {{ site.data.style.highlight | default: "#fed136" }} !default;
$secondary: {{ site.data.style.secondary | default: "#fed136" }} !default;
$navbar-color: {{ site.data.style.navbar-color | default: "#fff" }} !default;
$navbar-text-color: {{ site.data.style.navbar-text-color | default: "#212529" }} !default;
$navbar-text-color-transparent: {{ site.data.style.navbar-text-color-transparent | default: "#fff" }} !default;
$navbar-toggler-text-color: {{ site.data.style.navbar-toggler-text-color | default: "#fff" }} !default;
$masthead-text-color: {{ site.data.style.masthead-text-color | default: "#fff" }} !default;
$overlay-color: {{ site.data.style.overlay-color | default: "#343a4090" }} !default;
$transition-duration: {{ site.data.style.transition-duration | default: "5s" }} !default;
$transition-type: {{ site.data.style.transition-type | default: "linear" }} !default;
$text-fade-transition-duration: {{ site.data.style.text-fade-transition-duration | default: "1s" }} !default;
$text-fade-transition-type: {{ site.data.style.text-fade-transition-type | default: "linear" }} !default;
$white: {{ site.data.style.white | default: "#fff" }} !default;
$black: {{ site.data.style.black | default: "#000" }} !default;

// Custom Images
$header-image: "{{ site.data.style.header-image }}";
$contact-image: "{{ site.data.style.contact-image }}";

// Global CSS
@import "base/page.scss";

// Components
@import "components/buttons.scss";
@import "components/navbar.scss";
@import "components/client-scroll.scss";

// Layout
@import "layout/masthead.scss";
@import "layout/services.scss";
@import "layout/portfolio.scss";
@import "layout/clients.scss";
@import "layout/timeline.scss";
@import "layout/team.scss";
@import "layout/contact.scss";
@import "layout/footer.scss";
