---
---
{% for carousel in site.data.sitetext[site.locale].header.carousel %}
.{{ carousel.bgimage | remove: "." | remove: "/" }} {
  background-color: {{ site.data.style.highlight }};
  background-image: linear-gradient({{ site.data.style.carousel-bg-overlay-color-top }}, {{ site.data.style.carousel-bg-overlay-color-bottom }}), url("/{{ carousel.bgimage }}");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
{% endfor %}

@media ( min-height: {{ site.data.style.carousel-bg-min-height }} ) {
  .carousel-inner {
    height: 100vh;
    height: 100svh;
  }

  .carousel-item {
    height: 100%;
  }

  .vertically-center {
    height: 100vh;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
.vertically-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
