// Styling for the masthead
header.masthead {
  text-align: center;
  color: $masthead-text-color;
  .intro-text {
    padding-top: 9.375em;
    padding-bottom: 6.25em;
    padding-left: 1em;
    padding-right: 1em;
    .intro-lead-in {
      font-size: 1.375rem;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 2.25rem;
      font-weight: 700;
      line-height: 35px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}

@keyframes start-timer{
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

header.masthead .carousel .container {
  max-width: 100%;
  padding: 0;
}

.progress-bar {
    width: 0%;
    background-color: $primary;
	transition-duration: $transition-duration;
    transition-timing-function: $transition-type;
}

.active .progress-bar{
    animation-name: start-timer;
    animation-duration: $transition-duration;
    animation-timing-function: $transition-type;
    width:100%;
    background-color: $primary
}

.intro-text {
  opacity: 0;
}

.active .intro-text {
  transition: $text-fade-transition-duration $text-fade-transition-type;
  opacity: 1;
}

@media (max-width: 450px) {
  header.masthead {
    .intro-text {
      padding-top: 9.375em;
      padding-bottom: 6.25em;
      .intro-lead-in {
        font-size: 1rem;
        font-style: italic;
        line-height: 22px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 35px;
        margin-bottom: 25px;
        @include heading-font;
      }
    }
  }
}

@media (min-width: 768px) {
  header.masthead {
    .intro-text {
      padding-top: 18.75em;
      padding-bottom: 12.5em;
      .intro-lead-in {
        font-size: 2.5rem;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 3.125rem;
        font-weight: 700;
        line-height: 50px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}
@media (min-width: 992px) {
  .carousel-item::after {
	border-width: $corner-width;
	border-left-color: #fff;
	border-top-color: #fff;
	border-bottom-color: transparent;
	border-right-color: transparent;
	left: 0;
	top: 0;
	position: absolute;
	border-style: solid;
	content: '';
  }
  nav:not(.navbar-shrink) .container {
    max-width: 100%;
    padding: 0;
  }
}
